<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Новости</title>
		<link rel="stylesheet" href="../css/newsstyle.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script  src="../js/preloader.js"></script>
	</head>
	<body>

		<div class="preloader">
    		<div class="preloader__row">
      			<div class="preloader__item"></div>
      			<div class="preloader__item"></div>
    		</div>
  		</div>

		
		<div class="wrapper">
			<header class="header">
				<div class="container">
					<div class="header__body">
						<a class="header__logo" href="@Url.Action("Account","Asp")">
							<img src="../img/Service/logo.png">
						</a>
						<a class="header__name" href="@Url.Action("Account","Asp")">
							<div class="header__name_my">МОЯ</div><div class="header__name_asp">АСПИРАНТУРА</div>
						</a>
						<details class="detail__body" data-toggle="dropdown">
							<summary class="detail__summary"><img class="detail__summary_img" src="../img/Avatars/@ViewBag.Account.Photo"></summary>
						<nav class="header__menu">
							<ul class="header__list">
								<li>
									<a href="@Url.Action("Account","Asp")" class="header__link">Личный кабинет</a>
								</li>
								<li>
									<a href="@Url.Action("Education","Asp")" class="header__link">Успеваемость</a>
								</li>
								<li>
									<a href="@Url.Action("Docs","Asp")" class="header__link">Документы</a>
								</li>
								<li>
									<a href="@Url.Action("Achievments","Asp")" class="header__link">Достижения</a>
								</li>
								<li>
									<a href="@Url.Action("Timetable","Asp")" class="header__link">Расписание</a>
								</li>
								<li>
									<a href="@Url.Action("News","Asp")" class="header__link">Новости</a>
								</li>
								<li>
									<a href="@Url.Action("Contacts","Asp")" class="header__link">Контакты</a>
								</li>
								<li>
									<a href="@Url.Action("Logout","Asp")" class="header__link">Выйти</a>
								</li>
							</ul>
						</nav>
						</details>
					</div>
				</div>
			</header>
			<div class="content">
				<div class="container">
					<div class="content_text">
						<div class="news_list">
							<h1>Последние новости университета</h1>
							<div class="news_element top">
								<img src="../img/Service/logobase.png">
								<p>@ViewBag.New1.Date</p>
								<p class="news_text">@ViewBag.New1.Info</p>
								<a class="btn_style" href="@ViewBag.New1.Link" target="_blank" rel="noopener noreferrer">Подробнее</a>
							</div>
							<div class="news_element top mid">
								<img src="../img/Service/logobase.png">
								<p>@ViewBag.New2.Date</p>
								<p class="news_text">@ViewBag.New2.Info</p>
								<a class="btn_style" href="@ViewBag.New2.Link" target="_blank" rel="noopener noreferrer">Подробнее</a>
							</div>
							<div class="news_element top end">
								<img src="../img/Service/logobase.png">
								<p>@ViewBag.New3.Date</p>
								<p class="news_text">@ViewBag.New3.Info</p>
								<a class="btn_style" href="@ViewBag.New3.Link" target="_blank" rel="noopener noreferrer">Подробнее</a>
							</div>
							<br>
							<div class="news_element mid">
								<img src="../img/Service/logobase.png">
								<p>@ViewBag.New4.Date</p>
								<p class="news_text">@ViewBag.New4.Info</p>
								<a class="btn_style" href="@ViewBag.New4.Link" target="_blank" rel="noopener noreferrer">Подробнее</a>
							</div>
							<div class="news_element">
								<img src="../img/Service/logobase.png">
								<p>@ViewBag.New5.Date</p>
								<p class="news_text">@ViewBag.New5.Info</p>
								<a class="btn_style" href="@ViewBag.New5.Link" target="_blank" rel="noopener noreferrer">Подробнее</a>
							</div>
							<div class="news_element mid end">
								<img src="../img/Service/logobase.png">
								<p>@ViewBag.New6.Date</p>
								<p class="news_text">@ViewBag.New6.Info</p>
								<a class="btn_style" href="@ViewBag.New6.Link" target="_blank" rel="noopener noreferrer">Подробнее</a>
							</div>
						</div>
						<a class="btn_style" href="https://stankin.ru/pages/id_79/news_1" target="_blank" rel="noopener noreferrer">Все новости</a>
					</div>
				</div>
			</div>
		</div>

		<script  src="../js/script.js"></script>

	</body>
</html>